* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style-type: none; */
  text-decoration: none;
  scroll-behavior: smooth;
}
@media screen and (min-width: 768px) {
  ul a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
  .man-links {
    background-color: #fff;
  }

  .home-h {
    font-size: 3rem;
  }
  .home-img {
    /* width: 102.1%; */
  }
  .left {
    background-image: url("../images/pexels-pixabay-90764.jpg");
    height: 26rem;
    background-size: cover;
    background-attachment: fixed;
    html {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  .white {
    height: 70vh;
  }
  .black-h {
    font-size: 4rem;
    text-align: end;
    color: black;
  }
  .white-h {
    font-size: 4rem;
    text-align: start;
    color: white;
  }
  .about-left {
    background-image: url("../images/pexels-domenicopaolella-5826543.jpg");
    background-size: cover;
    background-position: center;
    height: 26rem;
    background-attachment: fixed;
  }
  .about-right {
    background-image: url("../images/wavey-fingerprint.svg");
  }
  .tall {
    background-image: url("../images/pexels-cottonbro-6221576.jpg");
    background-size: cover;
    height: 26rem;
  }
  .zero {
    background-image: url("../images/pexels-apex-360-1742295-3345875.jpg") !important;
  }
  .one {
    background-image: url("../images/pexels-cottonbro-6221576.jpg") !important;
  }
  .two {
    background-image: url("../images/pexels-maksgelatin-4757966.jpg") !important;
  }
  .three {
    background-image: url("../images/pexels-domenicopaolella-5826543.jpg") !important;
  }
  .short {
    background-image: url("../images/pexels-maksgelatin-4757966.jpg");
    background-size: cover;
    height: 26rem;
  }
  .prop-ul {
    color: #fff;
    list-style-type: disc !important;
  }
  .bg {
    background-image: url("../images/pexels-apex-360-1742295-3345875.jpg");
    height: 25rem;
    background-size: cover;
    width: 30rem;
    background-color: rgb(50, 49, 49);
    background-blend-mode: overlay;
    background-size: cover;
  }
  .bg-right {
    background-image: url("../images/pexels-cottonbro-6221576.jpg");
    background-color: rgb(50, 49, 49);
    background-blend-mode: overlay;
    background-size: cover;
    height: 30rem;
  }
  .h {
    height: 30rem;
  }
  .h2 {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
}
